/* TODO(dk): clean up this file by moving styles to the appropriate css files */

.home-page {
  .header {
    background-image: linear-gradient(
      to left,
      rgb(255 255 255 / 10%),
      rgb(0 0 0 / 0%)
    );
    /* background-size: var(--border-width); */
    background-size: 100% 2px;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  p {
    /* font-size: calc(var(--xs) * 1.25); */
    /* font-family: var(--font-copy); */
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: var(--xl); */
  /* margin-bottom: var(--xl); */
  h1 {
    margin-bottom: 0;
  }
  p {
    margin-top: calc(var(--xxs) * 2);
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--margin);
    .aff {
      width: 100%;
    }
  }
}

.nav-brand {
  position: relative;
  height: var(--margin);
  span {
    margin-left: var(--xs);
  }
  svg {
    max-width: 100%;
    max-height: 100%;
  }
  /* .link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } */
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--xs);
}

.form {
  width: 100%;
  max-width: 100%;
  .aff {
    margin-bottom: var(--margin);
  }
}

.footer {
  /* font-family: var(--font-copy); */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: var(--nav-height);
}

.hero-headline {
  font-size: calc(var(--tile) * 2);
  font-weight: 500;
  line-height: 1.25;
  margin-left: calc((var(--xxs) * 1.5) * -1);
  span {
    display: block;
    white-space: nowrap;
  }

  @media (--s) {
    font-size: calc(var(--tile) * 1.5);
  }

  @media (--xs) {
    font-size: calc(var(--tile) * 1);
    margin-left: calc((var(--xxs) * 1) * -1);
  }

  @media (--xxs) {
    font-size: calc(var(--tile) * 0.75);
    margin-left: 0;
  }
}

.hero-logo {
  color: var(--white);
  width: calc(var(--tile) * 2);
}

.hero-foot {
  display: flex;
  gap: var(--padding);
  /* font-weight: 500; */
  /* font-size: calc(var(--xs) * 1.25); */
  margin-top: calc(var(--xs) * 1.75);

  @media (--s) {
    margin-top: calc(var(--xs) * 1.25);
  }

  @media (--xs) {
    margin-top: var(--xxs);
  }

  @media (--xxs) {
    margin-top: calc(var(--xs) * 0.75);
    font-size: calc(var(--xs) * 1);
  }
}

.hero-foot-more {
  margin-left: var(--tile);
}

.hero-button {
  &:hover {
    span {
      color: var(--gray-500);
      transition: color var(--run-slow);
    }
  }
  span {
    transition: color var(--run);
  }
}

.mcode-logo {
  /* display: none; */
  width: calc(var(--padding) + (var(--padding) * 0.25));
  height: var(--padding);
  fill: currentcolor;
  overflow: visible;
  .circle {
    fill: currentcolor;
    transform-origin: center;
    transform-box: fill-box;
    stroke: currentcolor;
    stroke-width: 0;
  }
  .circle-0 {
    transform: translate(0, 0) scale(0);
  }
  .circle-1 {
    transform: translate(200%, 0%) scale(0);
  }
  .circle-2 {
    transform: translate(200%, 150%) scale(0);
  }
  .circle-3 {
    transform: translate(200%, 300%) scale(0);
  }
  .circle-4 {
    transform: translate(-200%, 300%) scale(0);
  }
  .circle-5 {
    transform: translate(-200%, 150%) scale(0);
  }
  .circle-6 {
    transform: translate(-200%, 0%) scale(0);
  }
  .line {
    fill: none;
    stroke: currentcolor;
    stroke-width: 25;
    stroke-linecap: round;
    transform-origin: center;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(0.75);
  }
}

@keyframes trace {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes bob-out {
  25% {
    stroke-width: 200;
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes to-blue {
  100% {
    color: var(--blue);
  }
}

.mcode-logo {
  --dur0: var(--run-slow);
  --dur1: var(--run-slow);
  --dur2: var(--run-slow);
  --dur3: var(--run-slow);
  --dur4: var(--run-slow);
  --dur5: var(--run-slow);
  --dur6: var(--run-slow);

  --del0: 500ms;
  --del1: calc((var(--dur0) * 0.34) + var(--del0));
  --del2: calc((var(--dur1) * 0.34) + var(--del1));
  --del3: calc((var(--dur2) * 0.21) + var(--del2));
  --del4: calc((var(--dur3) * 0.13) + var(--del3));
  --del5: calc((var(--dur4) * 0.21) + var(--del4));
  --del6: calc((var(--dur5) * 0.13) + var(--del5));

  .circle-0 {
    animation: var(--dur0) var(--bounce) var(--del0) both grow-in;
  }

  .line-1 {
    animation: var(--dur1) var(--fadein) var(--del1) both trace;
  }

  .circle-1 {
    animation: var(--dur1) var(--bounce) var(--del1) both bob-out;
  }

  .line-6 {
    animation: var(--dur2) var(--fadein) var(--del2) both trace;
  }

  .circle-6 {
    animation: var(--dur2) var(--bounce) var(--del2) both bob-out;
  }

  .line-2 {
    animation: var(--dur3) var(--fadein) var(--del3) both trace;
  }

  .circle-2 {
    animation: var(--dur3) var(--bounce) var(--del3) both bob-out;
  }

  .line-5 {
    animation: var(--dur4) var(--fadein) var(--del4) both trace;
  }

  .circle-5 {
    animation: var(--dur4) var(--bounce) var(--del4) both bob-out;
  }

  .line-3 {
    animation: var(--dur5) var(--fadein) var(--del5) both trace;
  }

  .circle-3 {
    animation: var(--dur5) var(--bounce) var(--del5) both bob-out;
  }

  .line-4 {
    animation: var(--dur6) var(--fadein) var(--del6) both trace;
  }

  .circle-4 {
    animation: var(--dur6) var(--bounce) var(--del6) both bob-out;
  }
}

.backed-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--tile) * 1.5);
  margin-top: calc(var(--tile) * 1);
  margin-bottom: calc(var(--tile) * 2);

  @media (--xs) {
    gap: calc(var(--tile) * 1);
  }

  @media (--xxs) {
    flex-direction: column;
    gap: calc(var(--tile) * 0.5);
  }
}

.backed-logo {
  /* color: var(--gray-500); */
  position: relative;
  height: calc(var(--tile) * 1.5);
  .link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  svg {
    fill: currentcolor;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}

/* .hero {
  --dur1: var(--run-slow);
  --dur2: var(--run-slow);
  --dur3: var(--run-slow);
  --dur4: var(--run-slow);

  --del1: 0ms;
  --del2: calc((var(--dur1) * 0.34) + var(--del1));
  --del3: calc((var(--dur2) * 0.21) + var(--del2));
  --del4: calc((var(--dur3) * 0.13) + var(--del3));

  .hero-headline span:nth-child(1) {
    animation: var(--dur1) var(--fadein) var(--del1) backwards tile-in-b2t;
  }

  .hero-headline span:nth-child(2) {
    animation: var(--dur2) var(--fadein) var(--del2) backwards tile-in-b2t;
  }

  .hero-headline span:nth-child(3) {
    animation: var(--dur3) var(--fadein) var(--del3) backwards tile-in-b2t;
  }

  .hero-foot {
    animation: var(--dur4) var(--fadein) var(--del4) backwards tile-in-b2t;
  }
} */

.hero {
  --dur1: var(--run-slow);
  --dur2: var(--run-slow);
  --dur3: var(--run-slow);
  --dur4: var(--run-slow);
  --dur5: var(--run-slow);

  --del1: 0ms;
  --del2: calc((var(--dur1) * 0.34) + var(--del1));
  --del3: calc((var(--dur2) * 0.21) + var(--del2));
  --del4: calc((var(--dur3) * 0.13) + var(--del3));
  --del5: calc((var(--dur4) * 0.55) + var(--del4));

  .hero-headline span:nth-child(1) {
    animation: var(--dur1) var(--fadein) var(--del1) backwards tile-in-b2t;
  }

  .hero-headline span:nth-child(2) {
    animation: var(--dur2) var(--fadein) var(--del2) backwards tile-in-b2t;
  }

  .hero-headline span:nth-child(3) {
    animation: var(--dur3) var(--fadein) var(--del3) backwards tile-in-b2t;
  }

  .hero-paragraph {
    animation: var(--dur4) var(--fadein) var(--del4) backwards tile-in-b2t;
  }

  .hero-foot {
    animation: var(--dur5) var(--fadein) var(--del5) backwards tile-in-b2t;
  }
}

.home-page {
  .header {
    --dur1: var(--run);
    --dur2: var(--run);
    --dur3: var(--run);
    --dur4: var(--run);
    --dur5: var(--run);

    --del1: 1250ms;
    --del2: calc((var(--dur1) * 0.89) + var(--del1));
    --del3: calc((var(--dur2) * 0.21) + var(--del2));
    --del4: calc((var(--dur3) * 0.13) + var(--del3));
    --del5: calc((var(--dur4) * 0.08) + var(--del4));

    .mcode-name {
      animation: var(--dur1) var(--fadein) var(--del1) backwards fade-in;
    }

    .nav-item:nth-child(2) {
      animation: var(--dur2) var(--fadein) var(--del2) backwards fade-in;
    }

    .nav-item:nth-child(3) {
      animation: var(--dur3) var(--fadein) var(--del3) backwards fade-in;
    }

    .nav-item:nth-child(4) {
      animation: var(--dur4) var(--fadein) var(--del4) backwards fade-in;
    }

    .nav-item:nth-child(5) {
      animation: var(--dur5) var(--fadein) var(--del5) backwards fade-in;
    }
  }
}

.toast-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* TODO(dk): decide is auto-dismiss is approriate */
  /* animation: var(--run-slower) var(--bounce) 10s forwards tile-out-t2b; */
}

.toast {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  margin: var(--margin);
  margin-top: calc(var(--margin) + var(--nav-height));
  padding: var(--xs) var(--tile);
  padding-right: calc(var(--padding) + var(--tile));
  min-height: var(--tile);
  background-color: var(--gray-900);
  border-radius: var(--border-radius);
  animation: var(--run-slower) var(--bounce) var(--now) forwards tile-in-t2b;
  &.closed {
    animation: var(--run-slower) var(--bounce) var(--now) forwards tile-out-b2t;
  }

  @media (--s) {
    width: 100%;
    margin-top: var(--nav-height);
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
  }
}

.toast-action {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--tile);
  height: var(--tile);
  &:hover {
    color: var(--gray-500);
  }
}

.mt-1 {
  margin-top: var(--xs);
}

.mt-2 {
  margin-top: var(--margin);
}

.mt-3 {
  margin-top: var(--tile);
}

.mt-4 {
  margin-top: calc(var(--tile) * 2);
}

.mb-1 {
  margin-bottom: var(--xs);
}

.mb-2 {
  margin-bottom: var(--margin);
}

.mb-3 {
  margin-bottom: var(--tile);
}

.mb-4 {
  margin-bottom: calc(var(--tile) * 2);
}

.subtitle {
  color: var(--gray-500);
  /* font-family: var(--font-mono); */
  text-transform: uppercase;
  /* font-weight: 600; */
  ~ h2 {
    margin-top: 0;
    max-width: calc(var(--xl) * 1.5);
  }
}

.feature {
  display: flex;
  /* gap: var(--tile); */
  /* gap: calc(var(--tile) * 2); */
  gap: var(--tile);
  /* margin-bottom: var(--tile); */
  /* margin: calc(var(--tile) * 2) 0; */
  margin: 20vh 0;
  hr {
    width: var(--padding);
    margin: calc(var(--xxs) * 2) 0;
    border-width: 4px;
    border-color: var(--focus);
    border-radius: var(--tile);
  }
  &:nth-child(even) {
    flex-direction: row-reverse;
  }
  &:first-child {
    /* margin-top: var(--tile); */
    margin-top: calc(var(--tile) * 2);
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.feature-media {
  /* width: calc(var(--tile) * 2); */
  width: var(--xl);
  /* width: calc(var(--xl) * 1.5); */
  /* padding: 0 var(--tile); */
}

.feature-content {
  flex: 1;
}

.codelines-container {
  /* margin-bottom: var(--xl); */
}

.codelines {
  --bkg: var(--black);
  --size: calc(var(--xxl) * 1.5);
  --gutter: var(--padding);

  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-size: var(--padding); */
  font-size: calc(var(--xs) * 2);
  font-family: var(--font-mono);
  /* color: var(--gray-800); */
  color: rgb(255 255 255 / 10%);
  position: relative;
  /* max-width: var(--size); */
  margin: 0 auto;
  /* padding: var(--gutter); */
  /* border-radius: var(--tile); */
  background-color: var(--bkg);
  overflow: hidden;
  &:not(.visible) {
    .codeline {
      opacity: 0;
    }
  }
}

.codeline {
  /* width: calc(var(--size) - (var(--gutter) * 2)); */
  /* overflow: hidden; */
  /* text-align: center; */
  white-space: nowrap;
  /* overflow: hidden; */
  /* line-clamp: 1; */
  /* text-overflow: ellipsis; */
}

.codeline-copy {
  /* opacity: 0.25; */
  /* opacity: 0; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  color: var(--white);
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* padding: var(--gutter); */
  .button {
    font-family: var(--font-sans);
    font-size: var(--font-size);
    /* height: 6rem; */
    /* padding: 0 2rem; */
    position: relative;
    /* top: -1.5rem; */
    top: -0.5rem;
    /* background-color: var(--black); */
    &:hover {
      /* background: none !important; */
      span {
        /* background: none; */
        /* background-color: var(--white); */
        /* background-color: rgb(255 255 255 / 13%); */
      }
    }
    span {
      /* padding: 0 var(--xs); */
      /* background-color: var(--bkg); */
    }
  }
}

.codeline-copy-line {
  height: calc((var(--xs) * 2) * 1.5);
  /* background-color: var(--bkg); */
  white-space: nowrap;
  &:not(:empty) {
    /* padding: 0 var(--xs); */
  }
}

.codelines-screens {
  /*  */
}

.codelines-screen {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--tile);
  /* backdrop-filter: blur(1px); */
  /* &:nth-child(1) {
    display: none;
    background-image: linear-gradient(
      to bottom,
      rgb(255 255 255 / 8%),
      transparent 25%
    );
  } */
  &:nth-child(1) {
    background-image: linear-gradient(
      to bottom,
      rgb(0 0 0 / 50%),
      transparent 25%
    );
  }
  &:nth-child(2) {
    background-image: linear-gradient(
      to top,
      rgb(0 0 0 / 50%),
      transparent 25%
    );
  }
  &:nth-child(3) {
    display: none;
    border: 5px solid var(--bkg);
  }
}

.articles-container {
  /* margin: 0 auto; */
  margin: var(--tile) 0;
  padding: var(--xl) 0;
  background: linear-gradient(
      to bottom,
      var(--white),
      transparent 25%,
      transparent 75%,
      var(--white)
    ),
    radial-gradient(circle, var(--gray-300) 1px, transparent 1px) center /
      var(--xs) var(--xs);
}

.articles-heading {
  /* font-family: var(--font-copy); */
  margin-bottom: var(--tile);
}

.articles {
  grid-area: carousel;
  /* gap: var(--padding); */
  width: 100%;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.article {
  position: relative;
  /* width: 100vw; */
  /* max-width: 392px; */
  width: calc((100% / 3) + var(--border-width) + 2px);
  /* width: calc((100% / 3) - (var(--margin) * 2)); */
  flex-shrink: 0;
  margin: 0;
  padding: 0 var(--padding);
  /* padding: 0 var(--padding); */
  border-right: var(--border);
  scroll-snap-stop: normal;
  scroll-snap-align: start;
  &:first-child {
    padding-left: 0;
  }
  &:hover {
    .article-title {
      color: var(--focus);
      /* text-decoration: underline; */
      transition-duration: var(--run-fast);
    }
    .article-meta {
      color: var(--focus);
      transition-duration: var(--run-fast);
    }
    .article-meta-external {
      animation: var(--run-slow) var(--bounce) var(--now) backwards
        external-arrow;
    }
  }
}

.article-type {
  color: var(--gray-500);
  text-transform: uppercase;
  margin-bottom: var(--xs);
  ~ h2 {
    margin-top: 0;
    max-width: calc(var(--xl) * 1.5);
  }
}

.article-title {
  /* font-size: calc(var(--xs) * 2); */
  /* font-size: var(--padding); */
  /* line-height: 1.25; */
  /* font-weight: 700; */
  height: 140px;
  /* margin: var(--margin) 0; */
  margin-bottom: var(--margin);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  transition: color var(--run);
}

.article-meta {
  font-weight: 700;
  display: flex;
  align-items: center;
  transition: color var(--run);
}

.article-meta-external {
  color: var(--focus);
  font-size: var(--font-tiny);
  line-height: 1;
  margin-left: calc(var(--xxs) * 2);
  /* overflow: hidden; */
  .stroke {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
  }
}

.article-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.articles-scroll {
  /*  */
}

@keyframes external-arrow {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  49% {
    transform: translate(50%, -50%);
    opacity: 0;
  }
  51% {
    transform: translate(-50%, 50%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.hero {
  /* background-color: var(--black); */
  /* background: linear-gradient(
      to bottom,
      var(--black),
      transparent 15%,
      var(--black) 90%,
      var(--black)
    ),
    radial-gradient(circle, rgb(255 255 255 / 15%) 1px, transparent 1px) center /
      var(--xs) var(--xs),
    linear-gradient(var(--black), var(--black)) 100%; */
  background: linear-gradient(
      to top left,
      transparent 0%,
      var(--black) 50%,
      transparent 100%
    ),
    radial-gradient(circle, rgb(255 255 255 / 21%) 1px, transparent 1px) center /
      var(--xs) var(--xs),
    linear-gradient(var(--black), var(--black)) 100%;
  animation: 2s var(--fadein) var(--now) both hero;
}

/* @keyframes hero {
  0% {
    background: linear-gradient(
        to top left,
        transparent 0%,
        var(--black) 50%,
        transparent 100%
      ),
      radial-gradient(circle, rgb(255 255 255 / 0%) 1px, transparent 1px) center /
        var(--xs) var(--xs),
      linear-gradient(var(--black), var(--black)) 100%;
  }
  100% {
    background: linear-gradient(
        to top left,
        transparent 0%,
        var(--black) 50%,
        transparent 100%
      ),
      radial-gradient(circle, rgb(255 255 255 / 21%) 1px, transparent 1px)
        center / var(--xs) var(--xs),
      linear-gradient(var(--black), var(--black)) 100%;
    animation: 2s var(--fadein) var(--now) both hero;
  }
} */

.meet-container {
  display: flex;
  flex-direction: column;
  /* margin: var(--tile) 0; */
  padding-top: var(--xl);
  /* background: linear-gradient(
      to bottom left,
      transparent 0%,
      var(--white) 34%,
      var(--white) 66%,
      transparent 100%
    ),
    radial-gradient(circle, rgb(0 0 0 / 21%) 1px, transparent 1px) center /
      var(--xs) var(--xs),
    linear-gradient(var(--white), var(--white)) 100%; */
  background: linear-gradient(
      to bottom right,
      var(--white) 34%,
      transparent 50%,
      var(--white) 66%
    ),
    radial-gradient(circle, rgb(0 0 0 / 21%) 1px, transparent 1px) center /
      var(--xs) var(--xs),
    linear-gradient(var(--white), var(--white)) 100%;
  h2 {
    text-align: center;
    max-width: calc(var(--xl) * 2);
    margin: 0 auto;
  }
}

.meet-content {
  text-align: center;
}

.meet-followup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: var(--tile);
  p {
    max-width: calc(var(--xl) * 1.5);
    margin: var(--xxs) auto 0;
  }
  .icon {
    font-size: var(--tile);
  }
}

/* .meet-followup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: var(--tile);
  padding: var(--tile);
  background-image: linear-gradient(
    to top,
    var(--white),
    rgb(255 255 255 / 90%)
  );
  position: absolute;
  bottom: calc(var(--tile) * -1);
  left: 50%;
  border-radius: calc(var(--xs) * 2);
  backdrop-filter: blur(4px);
  transform: translate(-50%, 0);
  p {
    max-width: calc(var(--xl) * 1.5);
    margin: var(--xxs) auto 0;
  }
  .icon {
    font-size: var(--tile);
  }
} */

.meet-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--tile) * 1.5);
  height: calc(var(--tile) * 1.5);
  margin-bottom: var(--margin);
  background-color: var(--white);
  background-image: linear-gradient(to top, rgb(0 0 0 / 3%), var(--white));
  border: 1px solid var(--white);
  border-radius: var(--padding);
  box-shadow: 0 8px 13px rgb(0 0 0 / 13%);
}

.meet-media {
  /* position: relative; */
  /* top: calc(var(--tile) * -1); */
  display: flex;
  justify-content: center;
  max-width: calc(var(--content-width) * 1.5);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display {
  font-family: var(--font-display);
}

.headshots {
  display: flex;
  justify-content: center;
  gap: var(--margin);
  margin: calc(var(--margin) * 1) 0 calc(var(--tile) * 2);
}

.headshot {
  width: calc((100% / 3) - var(--margin));
}

.headshot-media {
  position: relative;
  /* width: 100%; */
  height: 0;
  padding-bottom: 100%;
  border-radius: var(--xl);
  overflow: hidden;
  img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: none;
    object-fit: cover;
    transform: translate(0, -50%);
  }
}

.headshot-info {
  text-align: center;
  h3 {
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
  }
}

.press {
  display: flex;
  gap: var(--margin);
  margin-top: var(--tile);
  .button {
    /* width: 100%; */
    margin-top: var(--margin);
  }
}

.press-info {
  width: 50%;
}

.press-media {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.press-logo {
  color: var(--white);
  /* color: var(--focus); */
  /* color: #66e5ff; */
  font-size: var(--xl);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: var(--xl); */
  padding: var(--tile) var(--padding);
  /* background-color: var(--old-blue); */
  /* background-color: #66e5ff; */
  /* background-color: var(--gray-100); */
  /* background-color: var(--black); */
  background: linear-gradient(
      to top left,
      transparent 25%,
      var(--black) 50%,
      transparent 75%
    ),
    radial-gradient(circle, rgb(255 255 255 / 34%) 1px, transparent 1px) center /
      var(--xs) var(--xs),
    linear-gradient(var(--black), var(--black)) 100%;
  border-radius: var(--padding);
}

.about-page {
  h2 {
    text-align: center;
    margin-top: var(--xl);
  }
}

.dff-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--tile) 0 calc(var(--tile) * 1.5);
  &.intro {
    .dff-title-2,
    .dff-title-3,
    .dff-count-2,
    .dff-count-3 {
      display: none;
    }
  }
  &.active {
    &.dff-1 {
      .dff-title-1,
      .dff-count-1 {
        transform: translate(0, 0);
        opacity: 1;
      }
      .dff-title-2,
      .dff-count-2 {
        transform: translate(0, 100%);
        opacity: 0;
      }
      .dff-title-3,
      .dff-count-3 {
        transform: translate(0, -100%);
        opacity: 0;
      }
    }
    &.dff-2 {
      .dff-title-1,
      .dff-count-1 {
        transform: translate(0, -100%);
        opacity: 0;
      }
      .dff-title-2,
      .dff-count-2 {
        transform: translate(0, 0);
        opacity: 1;
      }
      .dff-title-3,
      .dff-count-3 {
        transform: translate(0, 100%);
        opacity: 0;
      }
    }
    &.dff-3 {
      .dff-title-1,
      .dff-count-1 {
        transform: translate(0, 100%);
        opacity: 0;
      }
      .dff-title-2,
      .dff-count-2 {
        transform: translate(0, -100%);
        opacity: 0;
      }
      .dff-title-3,
      .dff-count-3 {
        transform: translate(0, 0);
        opacity: 1;
      }
    }
  }
}

.dff {
  position: relative;
  text,
  path {
    transform-box: fill-box;
    transform-origin: center;
  }
  .dff-hi,
  .dff-line {
    transform-origin: left;
  }
}

.dff-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(248 248 248 / 100%);
  border-radius: calc(var(--xs) * 2);
  box-shadow: 0 34px 55px 8px rgb(0 0 0 / 13%);
  pointer-events: none;
}

.dff-auras {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: 2000ms var(--fadein) 0ms both auras;
}

.dff-aura {
  /*  */
}

.dff-aura-1 {
  position: absolute;
  top: 37.5%;
  left: -10%;
  width: 120%;
  height: 25%;
  border-radius: 50%;
  background-color: #66e5ff;
  opacity: 0.55;
  filter: blur(55px);
  animation: infinite 25s ease-in-out 1s both aura;
}

.dff-aura-2 {
  position: absolute;
  top: 20%;
  left: -5%;
  width: 110%;
  height: 50%;
  border-radius: 50%;
  background-color: #9024ff;
  opacity: 0.13;
  filter: blur(55px);
  animation: infinite 20s ease-in-out 1s both aura;
}

.dff-inner {
  position: relative;
  border-radius: calc(var(--xs) * 2);
}

.dff-text {
  font-size: 12px;
  fill: #616161;
  white-space: pre;
}

.dff-browser {
  fill: #f8f8f8;
}

.dff-page {
  fill: var(--white);
  filter: drop-shadow(0 2px 3px rgb(0 0 0 / 5%));
}

.dff-title {
  font-size: 24px;
  font-family: var(--font-display);
  transition: var(--run) var(--now) var(--fadein);
}

.dff-label {
  fill: var(--white);
}

.dff-count {
  font-family: var(--font-mono);
  font-weight: 500;
  transition: var(--run) var(--soon) var(--fadein);
}

.dff-red {
  fill: #e0274f;
}

.dff-yellow {
  fill: #f4bc2f;
}

.dff-green {
  fill: #61dd28;
}

.dff-divider {
  fill: none;
  stroke: #f8f8f8;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

.dff-hi {
  display: none;
  fill: #eef7ff;
}

.dff-tag {
  fill: #eef7ff;
  opacity: 0.5;
}

.dff-lines {
  fill: #f8f8f8;
}

.dff-line {
  fill: #dbdbdb;
}

.dff-label-pill {
  fill: #069bfa;
}

.dff-master {
  fill: #069bfa;
}

.dff-branch {
  fill: #069bfa;
}
