.home-page {
  p {
    font-size: calc(var(--xs) * 1.25);
    font-family: var(--font-copy);
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--xl);
  margin-bottom: var(--xl);
  h1 {
    margin-bottom: 0;
  }
  p {
    margin-top: calc(var(--xxs) * 2);
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(var(--xl) * 2);
    margin-top: var(--margin);
    .aff {
      width: 100%;
    }
  }
}

.nav-brand {
  position: relative;
  height: var(--margin);
  svg {
    max-width: 100%;
    max-height: 100%;
  }
  .link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: var(--xs);
}

.form {
  max-width: 100%;
  .aff {
    margin-bottom: var(--margin);
  }
}

.footer {
  font-family: var(--font-copy);
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: calc(var(--tile) * 2); */
  min-height: var(--nav-height);
}

.hero-paragraph {
  /* display: none; */
  font-size: calc(var(--tile) * 2);
  line-height: 1.25;
  margin-left: calc((var(--xxs) * 1.5) * -1);
  span {
    display: block;
    white-space: nowrap;

    /* @media (--xs) {
      display: inline;
      white-space: wrap;
      animation: none;
    } */
  }

  @media (--s) {
    font-size: calc(var(--tile) * 1.5);
  }

  @media (--xs) {
    font-size: calc(var(--tile) * 1);
    margin-left: calc((var(--xxs) * 1) * -1);
  }

  @media (--xxs) {
    font-size: calc(var(--tile) * 0.75);
    margin-left: 0;
  }
}

.hero-logo {
  color: var(--white);
  width: calc(var(--tile) * 2);
}

.hero-foot {
  /* color: var(--blue); */
  font-weight: 500;
  font-size: calc(var(--xs) * 1.25);
  margin-top: calc(var(--xs) * 1.75);
  /* margin-left: var(--xs); */

  @media (--s) {
    margin-top: calc(var(--xs) * 1.25);
  }

  @media (--xs) {
    margin-top: var(--xxs);
  }

  @media (--xxs) {
    margin-top: calc(var(--xs) * 0.75);
    font-size: calc(var(--xs) * 1);
  }
}

.hero-button {
  /* animation: var(--run-slower) var(--fadein) 2s forwards to-blue; */
  &:hover {
    span {
      color: var(--gray-500);
      transition: color var(--run-slow);
    }
  }
  span {
    transition: color var(--run);
  }
}

.mcode-logo {
  /* display: none; */
  width: calc(var(--padding) + (var(--padding) * 0.25));
  height: var(--padding);
  fill: currentcolor;
  overflow: visible;
  .circle {
    fill: currentcolor;
    transform-origin: center;
    transform-box: fill-box;
    stroke: currentcolor;
    stroke-width: 0;
  }
  .circle-0 {
    transform: translate(0, 0) scale(0);
  }
  .circle-1 {
    transform: translate(200%, 0%) scale(0);
  }
  .circle-2 {
    transform: translate(200%, 150%) scale(0);
  }
  .circle-3 {
    transform: translate(200%, 300%) scale(0);
  }
  .circle-4 {
    transform: translate(-200%, 300%) scale(0);
  }
  .circle-5 {
    transform: translate(-200%, 150%) scale(0);
  }
  .circle-6 {
    transform: translate(-200%, 0%) scale(0);
  }
  .line {
    fill: none;
    stroke: currentcolor;
    stroke-width: 25;
    stroke-linecap: round;
    transform-origin: center;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(0.75);
  }
}

@keyframes trace {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes bob-out {
  25% {
    stroke-width: 200;
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes to-blue {
  100% {
    color: var(--blue);
  }
}

.mcode-logo {
  --dur0: var(--run-slow);
  --dur1: var(--run-slow);
  --dur2: var(--run-slow);
  --dur3: var(--run-slow);
  --dur4: var(--run-slow);
  --dur5: var(--run-slow);
  --dur6: var(--run-slow);

  --del0: 500ms;
  --del1: calc((var(--dur0) * 0.34) + var(--del0));
  --del2: calc((var(--dur1) * 0.34) + var(--del1));
  --del3: calc((var(--dur2) * 0.21) + var(--del2));
  --del4: calc((var(--dur3) * 0.13) + var(--del3));
  --del5: calc((var(--dur4) * 0.21) + var(--del4));
  --del6: calc((var(--dur5) * 0.13) + var(--del5));

  .circle-0 {
    animation: var(--dur0) var(--bounce) var(--del0) both grow-in;
  }

  .line-1 {
    animation: var(--dur1) var(--fadein) var(--del1) both trace;
  }

  .circle-1 {
    animation: var(--dur1) var(--bounce) var(--del1) both bob-out;
  }

  .line-6 {
    animation: var(--dur2) var(--fadein) var(--del2) both trace;
  }

  .circle-6 {
    animation: var(--dur2) var(--bounce) var(--del2) both bob-out;
  }

  .line-2 {
    animation: var(--dur3) var(--fadein) var(--del3) both trace;
  }

  .circle-2 {
    animation: var(--dur3) var(--bounce) var(--del3) both bob-out;
  }

  .line-5 {
    animation: var(--dur4) var(--fadein) var(--del4) both trace;
  }

  .circle-5 {
    animation: var(--dur4) var(--bounce) var(--del4) both bob-out;
  }

  .line-3 {
    animation: var(--dur5) var(--fadein) var(--del5) both trace;
  }

  .circle-3 {
    animation: var(--dur5) var(--bounce) var(--del5) both bob-out;
  }

  .line-4 {
    animation: var(--dur6) var(--fadein) var(--del6) both trace;
  }

  .circle-4 {
    animation: var(--dur6) var(--bounce) var(--del6) both bob-out;
  }
}

.backed {
  text-align: center;
  /* margin-top: calc(var(--tile) * 1.5); */
}

.backed-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--tile) * 1.5);
  margin-top: calc(var(--tile) * 2);
  margin-bottom: calc(var(--tile) * 2);

  @media (--xs) {
    gap: calc(var(--tile) * 1);
  }

  @media (--xxs) {
    flex-direction: column;
    gap: calc(var(--tile) * 0.5);
  }
}

.backed-logo {
  color: var(--gray-500);
  position: relative;
  height: calc(var(--tile) * 0.75);
  .link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  svg {
    fill: currentcolor;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}

.hero {
  --dur1: var(--run-slow);
  --dur2: var(--run-slow);
  --dur3: var(--run-slow);
  --dur4: var(--run-slow);

  --del1: 0ms;
  --del2: calc((var(--dur1) * 0.34) + var(--del1));
  --del3: calc((var(--dur2) * 0.21) + var(--del2));
  --del4: calc((var(--dur3) * 0.13) + var(--del3));

  .hero-paragraph span:nth-child(1) {
    animation: var(--dur1) var(--fadein) var(--del1) backwards tile-in-b2t;
  }

  .hero-paragraph span:nth-child(2) {
    animation: var(--dur2) var(--fadein) var(--del2) backwards tile-in-b2t;
  }

  .hero-paragraph span:nth-child(3) {
    animation: var(--dur3) var(--fadein) var(--del3) backwards tile-in-b2t;
  }

  .hero-foot {
    animation: var(--dur4) var(--fadein) var(--del4) backwards tile-in-b2t;
  }
}

.header {
  --dur1: var(--run);
  --dur2: var(--run);
  --dur3: var(--run);

  --del1: 1000ms;
  --del2: calc((var(--dur1) * 0.34) + var(--del1));
  --del3: calc((var(--dur2) * 0.21) + var(--del2));

  .nav-item:nth-child(2) {
    animation: var(--dur1) var(--fadein) var(--del1) backwards fade-in;
  }

  .nav-item:nth-child(3) {
    animation: var(--dur2) var(--fadein) var(--del2) backwards fade-in;
  }

  .nav-item:nth-child(4) {
    animation: var(--dur3) var(--fadein) var(--del3) backwards fade-in;
  }
}

.toast-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* TODO(dk): decide is auto-dismiss is approriate */
  /* animation: var(--run-slower) var(--bounce) 10s forwards tile-out-t2b; */
}

.toast {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  margin: var(--margin);
  margin-top: calc(var(--margin) + var(--nav-height));
  padding: var(--xs) var(--tile);
  padding-right: calc(var(--padding) + var(--tile));
  min-height: var(--tile);
  background-color: var(--gray-900);
  border-radius: var(--border-radius);
  animation: var(--run-slower) var(--bounce) var(--now) forwards tile-in-t2b;
  &.closed {
    animation: var(--run-slower) var(--bounce) var(--now) forwards tile-out-b2t;
  }

  @media (--s) {
    width: 100%;
    margin-top: var(--nav-height);
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
  }
}

.toast-action {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--tile);
  height: var(--tile);
  &:hover {
    color: var(--gray-500);
  }
}
